{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "script",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": false,
    "node": true
  },
  "extends": "eslint-config-egg",
  "rules": {
    "strict": "off",
    "valid-jsdoc": "off",
    "semi": ["off", "never"]
  }
}
